* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu sans;
    font-size: 14px;
    min-height: 24px;
}

window#waybar {
    background-color: #151515;
    border-bottom: 2px solid #26252a;
    color: #eee;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.waybar-bottom {
    background-color: #151515;
    border-bottom: 0px;
    color: #b47474;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 1px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 1px solid #81a1c1;
}

#workspaces button.focused {
    background-color: #81a1c1;
    border-bottom: 1px solid transparent;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 1px solid #ccc;
}

#custom-swayinfo,
#custom-netinfo,
#custom-arch,
#custom-scratchpad,
#custom-cpu,
#custom-bbswitch,
#custom-playerctl,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 2px;
    margin: 0 2px;
    color: #eee;
}

#custom-myweather {
	font-family: Weather icons;
	font-size: 15px;
}

#custom-arch {
	font-family: "DejaVuSansMono Nerd Font";
	font-size: 15px;
}

#clock {

	padding: 0 10px 0 10px;
	background-color: #357978;
	color: #eee;
}

#battery {
    background-color: rgba(0, 0, 0, 0);
    color: #eee;
}

#battery.charging {
    border-bottom: 3px solid #a8bcba;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#backlight {
    background-color: rgba(0, 0, 0, 0);
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: rgba(0, 0, 0, 0);
    color: #ffffff;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#custom-playerctl.paused {
    color: #666;
}

#custom-playerctl.stopped {
    color: #666;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: rgba(0, 0, 0, 0);
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}